In [17]:
import pandas as pd
import csv

a = pd.read_csv('IMDB.csv')
b = pd.read_csv('Metacritic.csv')
c = pd.read_csv('Job_Movie_apply_rules_ds.csv')

s = c.sample(50)
n = 0
i = 1

for index, row in s.iterrows():
  print("============ " + str(i))
  print(a.iloc[int(row['A_id'])])
  print(b.iloc[int(row['B_id'])])
  inp = input("1 for yes, 2 for no: ")
  print(inp)
  if str(inp).strip() == "1":
    n += 1
  i += 1
    
print(n)
print(n/50)

============ 1
_id                                                          1483
title                                      The Cabin in the Woods
release_year                                                 2011
movie_rating                                                    7
summary         Five friends go for a break at a remote cabin,...
Up_System                                                      CM
Name: 1483, dtype: object
_id                                                           555
title                                      The Cabin in the Woods
release_year                                                 2012
movie_rating                                                  8.1
summary         Five friends go to a remote cabin in the woods...
Up_System                                                      CM
Name: 555, dtype: object
1 for yes, 2 for no: 1
1
============ 2
_id                                                          2829
title                                                   Prisoners
release_year                                                 2013
movie_rating                                                  8.1
summary         When Keller Dover's daughter and her friend go...
Up_System                                                      CM
Name: 2829, dtype: object
_id                                                          1527
title                                                   Prisoners
release_year                                                 2013
movie_rating                                                  8.6
summary         How far would you go to protect your family? K...
Up_System                                                      CM
Name: 1527, dtype: object
1 for yes, 2 for no: 1
1
============ 3
_id                                                           825
title                                                         Big
release_year                                                 1988
movie_rating                                                  7.3
summary         After wishing to be made big, a teenage boy wa...
Up_System                                                      CM
Name: 825, dtype: object
_id                                                          2761
title                                                         Big
release_year                                                 1988
movie_rating                                                  8.3
summary         At a carnival, young Josh Baskin wishes he was...
Up_System                                                      CM
Name: 2761, dtype: object
1 for yes, 2 for no: 1
1
============ 4
_id                                                             1
title                                         The Hills Have Eyes
release_year                                                 2006
movie_rating                                                  6.4
summary         A suburban American family is being stalked by...
Up_System                                                      CM
Name: 1, dtype: object
_id                                                          2449
title                                                       Divan
release_year                                                 2004
movie_rating                                                  tbd
summary         Pearl Gluck travels to Hungary to retrieve a t...
Up_System                                                      CM
Name: 2449, dtype: object
1 for yes, 2 for no: 2
2
============ 5
_id                                                          2589
title              Star Wars: Episode V - The Empire Strikes Back
release_year                                                 1980
movie_rating                                                  8.7
summary         After the Rebels are brutally overpowered by t...
Up_System                                                      CM
Name: 2589, dtype: object
_id                                                          2502
title              Star Wars: Episode V - The Empire Strikes Back
release_year                                                 1980
movie_rating                                                  9.0
summary         Three years after the events of Star Wars, Imp...
Up_System                                                      CM
Name: 2502, dtype: object
1 for yes, 2 for no: 1
1
============ 6
_id                                                          1481
title                                             Drag Me to Hell
release_year                                                 2009
movie_rating                                                  6.6
summary         A loan officer who evicts an old woman from he...
Up_System                                                      CM
Name: 1481, dtype: object
_id                                                            25
title                                             Drag Me to Hell
release_year                                                 2009
movie_rating                                                  7.9
summary         Christine Brown is an ambitious L.A. loan offi...
Up_System                                                      CM
Name: 25, dtype: object
1 for yes, 2 for no: 1
1
============ 7
_id                                                           212
title                                                   Philomena
release_year                                                 2013
movie_rating                                                  7.6
summary         A world-weary political journalist picks up th...
Up_System                                                      CM
Name: 212, dtype: object
_id                                                           461
title                                                   Philomena
release_year                                                 2013
movie_rating                                                  7.9
summary         A world-weary political journalist picks up th...
Up_System                                                      CM
Name: 461, dtype: object
1 for yes, 2 for no: 1
1
============ 8
_id                                                          3210
title                                             Michael Clayton
release_year                                                 2007
movie_rating                                                  7.3
summary         A law firm brings in its "fixer" to remedy the...
Up_System                                                      CM
Name: 3210, dtype: object
_id                                                          2534
title                                             Michael Clayton
release_year                                                 2007
movie_rating                                                  7.7
summary         Michael Clayton (George Clooney) is an in-hous...
Up_System                                                      CM
Name: 2534, dtype: object
1 for yes, 2 for no: 1
1
============ 9
_id                                                          2733
title                                          Dances with Wolves
release_year                                                 1990
movie_rating                                                    8
summary         Lieutenant John Dunbar, assigned to a remote w...
Up_System                                                      CM
Name: 2733, dtype: object
_id                                                           224
title                                          Dances with Wolves
release_year                                                 1990
movie_rating                                                  8.6
summary         Rewarded for his heroism in the Civil War, Lt....
Up_System                                                      CM
Name: 224, dtype: object
1 for yes, 2 for no: 1
1
============ 10
_id                                                          2691
title                                                 Ratatouille
release_year                                                 2007
movie_rating                                                    8
summary         A rat who can cook makes an unusual alliance w...
Up_System                                                      CM
Name: 2691, dtype: object
_id                                                          2334
title                                                 Ratatouille
release_year                                                 2007
movie_rating                                                  8.6
summary         Despite his sensational sniffer and sophistica...
Up_System                                                      CM
Name: 2334, dtype: object
1 for yes, 2 for no: 1
1
============ 11
_id                                                          2750
title                                                Flushed Away
release_year                                                 2006
movie_rating                                                  6.6
summary         The story of an uptown rat that gets flushed d...
Up_System                                                      CM
Name: 2750, dtype: object
_id                                                           701
title                                                Flushed Away
release_year                                                 2006
movie_rating                                                  7.6
summary         From the teams behind "Wallace &amp; Gromit: T...
Up_System                                                      CM
Name: 701, dtype: object
1 for yes, 2 for no: 1
1
============ 12
_id                                                           311
title                                           Leaving Las Vegas
release_year                                                 1995
movie_rating                                                  7.5
summary         Ben Sanderson, a Hollywood screenwriter who lo...
Up_System                                                      CM
Name: 311, dtype: object
_id                                                            96
title                                           Leaving Las Vegas
release_year                                                 1995
movie_rating                                                  9.0
summary         After being fired, an alcoholic screenwriter (...
Up_System                                                      CM
Name: 96, dtype: object
1 for yes, 2 for no: 1
1
============ 13
_id                                                          1093
title                                                      Trolls
release_year                                                 2016
movie_rating                                                  6.5
summary         After the Bergens invade Troll Village, Poppy,...
Up_System                                                      CM
Name: 1093, dtype: object
_id                                                          1965
title                          Expedition to the End of the World
release_year                                                 2014
movie_rating                                                  tbd
summary         On a three-mast schooner packed with artists, ...
Up_System                                                      CM
Name: 1965, dtype: object
1 for yes, 2 for no: 2
2
============ 14
_id                                                          3057
title                                                Corpse Bride
release_year                                                 2005
movie_rating                                                  7.4
summary         When a shy groom practices his wedding vows in...
Up_System                                                      CM
Name: 3057, dtype: object
_id                                                             1
title                                                Corpse Bride
release_year                                                 2005
movie_rating                                                  7.9
summary         Set in a 19th century European village, this s...
Up_System                                                      CM
Name: 1, dtype: object
1 for yes, 2 for no: 1
1
============ 15
_id                                                          1067
title                                      Straight Outta Compton
release_year                                                 2015
movie_rating                                                  7.9
summary         The group NWA emerges from the mean streets of...
Up_System                                                      CM
Name: 1067, dtype: object
_id                                                          3098
title                                          That Thing You Do!
release_year                                                 1996
movie_rating                                                  8.1
summary         Set in the 1964 and steeped in Americana, this...
Up_System                                                      CM
Name: 3098, dtype: object
1 for yes, 2 for no: 2
2
============ 16
_id                                                           216
title                                             Pan's Labyrinth
release_year                                                 2006
movie_rating                                                  8.2
summary         In the Falangist Spain of 1944, the bookish yo...
Up_System                                                      CM
Name: 216, dtype: object
_id                                                          2313
title                                             Pan's Labyrinth
release_year                                                 2006
movie_rating                                                  8.7
summary         Following a bloody civil war, young Ofelia ent...
Up_System                                                      CM
Name: 2313, dtype: object
1 for yes, 2 for no: 1
1
============ 17
_id                                                          1978
title                                                    Magnolia
release_year                                                 1999
movie_rating                                                    8
summary         An epic mosaic of interrelated characters in s...
Up_System                                                      CM
Name: 1978, dtype: object
_id                                                           441
title                                                    Magnolia
release_year                                                 1999
movie_rating                                                  4.7
summary         On one random day in the San Fernando Valley, ...
Up_System                                                      CM
Name: 441, dtype: object
1 for yes, 2 for no: 1
1
============ 18
_id                                                          3140
title                                                  Goldfinger
release_year                                                 1964
movie_rating                                                  7.7
summary         While investigating a gold magnate's smuggling...
Up_System                                                      CM
Name: 3140, dtype: object
_id                                                          1624
title                                                  Goldfinger
release_year                                                 1965
movie_rating                                                  8.4
summary         Investigating a gold magnate's smuggling, Jame...
Up_System                                                      CM
Name: 1624, dtype: object
1 for yes, 2 for no: 1
1
============ 19
_id                                                          2219
title                                                    WarGames
release_year                                                 1983
movie_rating                                                  7.1
summary         A young man finds a back door into a military ...
Up_System                                                      CM
Name: 2219, dtype: object
_id                                                          1979
title                                                    WarGames
release_year                                                 1983
movie_rating                                                  8.2
summary         At the height of the Cold War, an American tee...
Up_System                                                      CM
Name: 1979, dtype: object
1 for yes, 2 for no: 1
1
============ 20
_id                                                          2943
title                                              Twelve Monkeys
release_year                                                 1995
movie_rating                                                    8
summary         In a future world devastated by disease, a con...
Up_System                                                      CM
Name: 2943, dtype: object
_id                                                           700
title                                              Twelve Monkeys
release_year                                                 1996
movie_rating                                                  8.8
summary         Between sanity and madness, fantasy and realit...
Up_System                                                      CM
Name: 700, dtype: object
1 for yes, 2 for no: 1
1
============ 21
_id                                                           930
title                             The Girl with the Dragon Tattoo
release_year                                                 2011
movie_rating                                                  7.8
summary         Journalist Mikael Blomkvist is aided in his se...
Up_System                                                      CM
Name: 930, dtype: object
_id                                                          1405
title                             The Girl with the Dragon Tattoo
release_year                                                 2010
movie_rating                                                  7.6
summary         Forty years ago, Harriet Vanger disappeared fr...
Up_System                                                      CM
Name: 1405, dtype: object
1 for yes, 2 for no: 1
1
============ 22
_id                                                           752
title                                                       Sully
release_year                                                 2016
movie_rating                                                  7.5
summary         The story of Chesley Sullenberger, an American...
Up_System                                                      CM
Name: 752, dtype: object
_id                                                          1503
title                                                       Sully
release_year                                                 2016
movie_rating                                                  7.6
summary         On January 15, 2009, the world witnessed the M...
Up_System                                                      CM
Name: 1503, dtype: object
1 for yes, 2 for no: 1
1
============ 23
_id                                                          2980
title                                The Curse of the Were-Rabbit
release_year                                                 2005
movie_rating                                                  7.5
summary         Wallace and his loyal dog, Gromit, set out to ...
Up_System                                                      CM
Name: 2980, dtype: object
_id                                                          1633

In [19]:
print(n*1.0/50)

0.8